body {
    margin-top: 0px;
}

.container {
    width: 1200px;
    background-color: rgb(181, 223, 223);
    height: auto;
    -ms-flex-item-align: center;
    align-self: center;
    margin: 0px auto;
    padding: 0 auto;
}